@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import "./base/variables";
@import "./base/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontfamily-base;
  font-size: 16px;
  background-color: $background-color;
}

.container {
  max-width: 1366px;
}

.font-size-18 {
  font-size: $fontsize-18;
  font-weight: $medium;
}

.font-size-18-regular {
  font-size: $fontsize-18;
  font-weight: $regular;
}

.font-size-16 {
  font-weight: $regular;
}

.font-size-16-medium {
  font-weight: $medium;
}

.gray-100 {
  color: $gray-100;
}
.gray-200 {
  color: $gray-200;
}

.gray-300 {
  color: $gray-300;
}

.background {
  background-color: $white;
}

a {
  color: $primary;
}

//navbar

.header {
  // background-color: $white;

  .navbar-light .navbar-nav .nav-link {
    color: $gray-100;
  }

  .btn-primary {
    background-color: $primary;
    width: 120px;
    text-align: center;
  }

  .form-control {
    width: 287px;
    border-radius: 5px;
    border-color: $gray-100;
  }
}

.profile-info {
  border-radius: 10px;
  padding-bottom: 30px;
}

.icons-info {
  background-color: $gray-300;
  border-radius: 5px;
  width: 283px;
  margin-left: 48px;
  padding-left: 20px;
}

.info {
  margin-top: -12px;
}

.stats {
  background-color: $white;
  border-radius: 5px;
  width: 228px;
}

.p-num {
  font-size: 3rem;
  color: $red;
}

.p-num-2 {
  color: $secondary;
}

.p-num-3 {
  color: $green;
}

.activity-stats {
  margin-top: -20px;
}

.tag {
  text-align: center;
  border-radius: 5px;
  width: 98px;
  padding: 5px 2px;
  margin-left: 150px;
}

.tag-1 {
  background-color: $green;
  color: $white;
}
.tag-1 {
  background-color: $green;
  color: $white;
}

.tag-2 {
  background-color: $tag-blue;
  color: $white;
}

.tag-3 {
  background-color: $tag-red;
  color: $white;
}

//footer

footer {
  background-color: $primary;
  color: $white;
  padding-top: 2px;
  padding-bottom: 20px;

  .footer-header {
    font-size: 1.3125rem;
    font-weight: $bold;
    margin-bottom: 22px;
  }

  .footer-paragraph {
    margin-bottom: 10px;
  }
}

.wrapper {
  width: 60%;
  display: block;
  overflow: hidden;
  padding: 60px 50px;
  background: #fff;
  border-radius: 4px;
}
