$primary: #2460b9;
$secondary: #2f80ed;

//semantic colors
$green: #00c48c;
$red: #eb5757;
$white: #ffffff;

//grayscale colors
$gray-100: #333333;
$gray-200: #828282;
$gray-300: #fafbfd;

//background
$background-color: #f5f6fa;

$tag-blue: #66b5f8;
$tag-red: #ff647c;
